body
{
  background:#fdf6b0;


}
h1
{
    font-family: Arial;
    font-size:36px;
    font-style: bold;
    color: rgb(238, 205, 205);
    background-color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 3pt;
}
p
{
    width: 500px;
    font-family: Arial;
    font-size: 20pt;
    font-style: italic;
    color: #000000;
    background-color: rgb(243, 243, 243);
    text-align: justify;
    text-indent: 12pt;
}
img
{
    width:400px;
    height: 270px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
a
{  
   display:inline-block;  
   height:40px;
   width:150px;  
   font-family:impact;
   font-size:14pt;
   letter-spacing:3px;
   background:#f8f8f8;
   color:#000000;
   text-decoration:none;
   text-align:center;
}
a:hover
{
   background:#c7cfd7;
   color:#9dbcce;
}




.menu a {
    display: block;      /* кожне посилання стає блоком = в стовпчик */
    margin-bottom: 5ce78ikojpx; /* щоб між пунктами був відступ */
}
.main
{
    position:relative;
    background:#edcdcd;    
    width:800px;
    margin:0px auto;
    box-shadow:0px 0px 30px black;
}
.top
{  
   margin: auto;  
   padding: 10px 10px 10px 10px;
}
.conteiner
{
    display: flex;      /* Вмикаємо flex-контейнер */
    flex-direction: row; /* Розташування зліва направо (за замовчуванням) */
    background-color: #c7cfd7;
    padding: 10px 10px 10px 10px;
}
.menu
{  
    width:150px;  
    margin: 20px 20px 20px 20px;    
}
.content
{
    flex: 1;            /* Займає весь доступний простір */
    width: 400px;    
    background:#c1b1b1;    
    padding: 10px 10px 10px 10px;  
}
.footer
{  
   margin: auto;  
   padding: 10px 10px 10px 10px;  
}


